@import "../../../styles/globals.scss";

.tableRow {
  cursor: pointer;
  display: table-row;
  border-bottom: 1px solid $color-white-gray;
  color: $color-white;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $color-white;
    background: $color-black-warm;
    > td .poster {
      border: 2px solid $color-white;
    }
  }
}

.tableCell {
  padding-block: 10px;

  .poster {
    position: relative;
    width: 100px;
    height: 120px;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 2px transparent solid;
    transition: border 0.3s ease-in-out;

    .noPoster {
      width: 100px;
      min-height: 120px;
      border-radius: 0.5rem;
      background: $color-black-warm;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}
