.page {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.divider {
  border-top: 2px solid white;
  margin: 20px 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &[data-type="categories"] {
    .listItem {
      background-color: hsla(45, 90%, 65%, 0.1);
      color: hsl(45, 90%, 65%);
    }
  }
  &[data-type="writers"] {
    .listItem {
      background-color: hsla(23, 90%, 65%, 0.1);
      color: hsl(23, 90%, 65%);
    }
  }
  &[data-type="actors"] {
    .listItem {
      background-color: hsla(293, 90%, 65%, 0.1);
      color: hsl(293, 90%, 65%);
    }
  }
  &[data-type="languages"] {
    .listItem {
      background-color: hsla(0, 100%, 67%, 0.1);
      color: hsl(0, 100%, 67%);
    }
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .listItems {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 10px;

      .text,
      .icon {
        font-size: 18px;
      }
    }
  }
}

.header {
  display: grid;
  grid-template-columns: 300px 5fr 2fr;
  gap: 20px;

  .leftContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .posterContainer {
      cursor: pointer;
      position: relative;
      width: 100%;
      height: 500px;
      overflow: hidden;
      border: 2px solid white;
      border-radius: 10px;
      transition: all 0.5s;

      &:hover {
        .poster {
          transform: scale(1.05);
        }
      }

      .poster {
        width: 100%;
        height: auto;
        transition: transform 0.5s;
      }
    }

    .country {
      color: gray;
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;

    .dates {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
      padding-bottom: 10px;

      .releaseDate {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .releaseDateIcon {
          font-size: 24px;
          color: white;
        }

        .releaseDateText {
          font-size: 16px;
          color: white;
        }
      }

      .duration {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .durationIcon {
          font-size: 24px;
          color: white;
        }

        .durationText {
          font-size: 16px;
          color: white;
        }
      }
    }

    .informations {
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-top: 2px solid white;
      padding-top: 10px;

      .title {
        font-size: 24px;
        font-weight: bold;
        color: white;
      }

      .description {
        font-size: 16px;
        color: white;
      }
    }
  }

  .rightContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
