@import '../../../styles/globals.scss';


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-opaque-lighterGray;
  border-radius: 0.5rem;

  &[disabled] {
    color: $disabled;
  }
}
